/* This CSS is common to all pages */
html {
    /* 62.5% = 10px = 1rem */
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;
    margin: 0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.navitem {
    padding: 3px 10px;
}
.navitem.is-active {
    background-color: #eee;
}
ul {
    padding-inline-start: 2.5rem;
}
