html {
    /* 62.5% = 10px = 1rem */
    font-size: 62.5%;
    line-height: 2;
    scroll-behavior: smooth;
}
#root {
    font-size: 1.4rem;
    width: 100%;
    min-height: 100vh;
    padding-left: 4.5rem;
    overflow-x: hidden;
}
.section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.cv-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-height: 100vh;
    & hr {
        margin: 7rem 0;
    }
    & h4 {
        margin-bottom: 0.5rem;
    }
    & ul {
        > li {
            margin-bottom: 0.5rem;
            line-height: 2rem;
        }
    }
}
.cv-section {
    max-width: 800px;
}
.flex-gap {
    display: flex;
    gap: calc(1 * 1rem);
    & > :first-child {
        flex: 3 1 0%;
        max-width: 20rem;
    }
    & > :last-child {
        flex: 7 1 0%;
    }
}
.flex-side {
    position: relative;
    height: auto;
    & div {
        position: sticky;
        top: 5rem;
        z-index: 1;
    }
}
.description {
    font-size: 1.2rem;
    margin: 0;
    color: gray;
}
