.layout-container {
    display: flex;
    margin: auto;

    @media (max-width: 768px) {
        display: block;
    }
}

.sidebar-disabled {
    align-self: flex-end;
    bottom: 1rem;
    left: 1rem;
    position: fixed;
    z-index: 1;
}
.sidebar {
    background-color: var(--background-color);
    position: sticky;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    line-height: 1.8em;
    max-height: 100vh;
    z-index: 1;
    padding: 1rem;
    .sidebar-botton {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 3rem;
        margin-top: auto;
    }

    @media (max-width: 768px) {
        flex-direction: row;
        justify-self: center;
        max-height: 6rem;
        width: 100%;
        border-bottom: 1px solid #eee;
        .sidebar-botton {
            margin: 0;
            margin-left: auto;
            flex-direction: row;
            > a {
                height: 30px;
            }
        }
        .sidebar-disabled {
            display: none;
        }
        .sidebar-abled {
            display: none;
        }
        .profile {
            height: 4rem;
            width: 4rem;
            margin-right: 3rem;
            > img {
                height: 4rem;
                width: 4rem;
            }
        }
    }
}
.content-container {
    border-left: 2px solid #eee;
    min-height: 100vh;
    overflow: scroll;
    width: 100%;
    > header {
        align-items: center;
        background: var(--background-color);
        border-bottom: 0.2rem solid #eee;
        display: flex;
        height: 8rem;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
        position: sticky;
        top: 0;
        width: 100%;
    }
}

.navitem {
    padding: 3px 10px;
    color: var(--text-color);
}
.navitem.is-active {
    background-color: var(--active-color);
}
